body
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #982f4f;
    margin: 0;
    color: #ffffff;
    line-height: 1.7;
}
a
{
    text-decoration: none;
    color: #77793c;
}
#showcase
{
    margin: 0;
    padding: 0;
    background: url('wallpaper.png') no-repeat center/cover;
    width: 100%;
    height: 120vh; /*viewport-height*/
    position: relative;
    overflow-y: hidden;
}
#showcase .container
{
margin-top: 25vh;
}
#showcase h1
{
    font-size: 5rem; /*root element font size*/
    margin-bottom: 0; 
}
#showcase h2
{
    font-size: 2rem; /*root element font size*/
}
nav
{
    height: 40px;
    width: 100%;
    background-color: #9f9ed1 ;
    color: rgb(31, 31, 28);
    position: fixed; /*Fixed there means that the navigation background along with the other properties attached to it won't disappear*//*If Relative then the background will disappear when the scroll button is being applied*/

    
}
nav ul
{
    margin: 0;
    padding: 0;
}
nav li
{
    display: inline;/* THIS IS TO MAKE YOUR NAVIGATION LIST TO BE IN A STRAIGHT HORZONATAL ARRANGMENT*/
    float: left; /* The left there means tht everything will come towards the left hand side*/
}
nav a
{
display: inline-block;
width: 150px;
text-align: center;
text-decoration: none;
padding: 10px 0; /*padding:top bottom/ left right i.e  padding:The Top-bottom is 10px, left-and-right is 0*/
color: #eee;
}
nav li:hover
{
    background-color: #9ec9d1;
}
.container
{
    max-width: 1180px;
    text-align: center;
    margin: 0 auto; /*auto means that it will automatically do the margin; also it makes the spacing equal on the screen*/
    padding: 0 3rem; /*rem means root-element-fontsize*/
}
.lead 
{
    font-size: 1.3rem;
}
footer .footer-cols
{
display: grid; /*grid is rows and columns; its now looking like a grid structure*/
grid-gap:20px; /* It's the gap i'm providing to my grids i.e how much space i want*/
grid-template-columns: repeat(4,1fr) ; /* since we want to divide the grid into 4 columns*//*repeat means how many times what you want to be done should be repeated*//*fr is a fractional unit*/
padding: 2rem; 
text-align: left;
font-size: 14px;
}
footer .footer-cols ul
{
    list-style: none; /*It makes all the bullets to disappear; those bullets look annoying to the eyes to be honest lol*/

}
footer .footer-cols ul li:first-child
{
font-size: 1.2rem;
padding-bottom: 0.5rem;
border-bottom: #444 solid 2px;
margin-bottom: 1rem; /*There will be a space provided*/

}
footer .footer-bottom
{
    background-color: #60474e;
    padding: 1rem;
    text-align: center;
}
.section
{
    padding: 2rem 0;
}
.section-head
{
    font-size: 2.5rem;
    margin: 0;
}
.section h3
{
    font-size: 2rem;

}
.btn
{
    padding: 1rem;
    color: #fff;
    display: inline-block; /*Because i want it to appear like a block*/
}
:root /* When you're in a situation where you have so many colors to give; we write a particular code and we give all 
the particular colors to a particular variable  so we won't have to be stressing ourselves to re-write the color code*/
/*KINDLY TAKE NOTE WITH CALLING OUT THIS VARIABLES WE USE THE "var()" attribute to call them out*/
{
    --primary-color: #c5e112;
    --primary-color-hover: #397893;
    --secondary-color: #95be2c;
    --secondary-color-hover: #39935b;
    --light-color: #ffb80492;
    
}
/*EXAMPLE*/
.btn-primary
{
    background: var(--primary-color);
}
.btn-primary:hover
{
    background: var(--primary-color-hover);
}
.btn-secondary
{
    background: var(--secondary-color);
}
.btn-secondary:hover
{
    background: var(--secondary-color-hover);
}
.text-primary
{
    color: var(--primary-color);
}
.text-secondary
{
    color: var(--secondary-color);
}
.text-light
{
    color: var(--light-color);
}
.bg-light
{
    background: var(--light-color);
}
.mb 
{
    margin-bottom: 1rem;
}
.mt 
{
    margin-top: 1rem;
}
________________________________________________________________________
-----------------------------INDOOR-HTML-CODE-------------------------------------------
.small-container
{
    max-width: 1080px;
    margin: auto;
    padding-left: 100px; /*The spacing to be given to the left hand side*/
    padding-right: 100px; /*The spacing to be given to the right hand side*/
}
.row
{
    display: flex; /*i.e The roll column cards will be flexible; it will be stretched out*/
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.col-4
{
    flex-basis: 25%;
    padding: 50px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: tranform 1.2s;
}
.col-4 img
{
width: 100%;
}
.row-2
{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select
{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus
{
    outline: none;
}
.page-btn
{
    margin: 0 40px 80px;
}
.page-btn span
{
    display:inline-block;
    border-radius: 5px solid #dbdfe0;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    
}
.page-btn span:hover
{
    background-color: #e1dbdf;
    color: #be239c;
}
h4
{
    color: #fff;
    font-weight: normal;
}
.col-4 p
{
    font-size: 14px;
}
.checked
{
    color: #6fff3b;
}
.col-4:hover
{
    transform: translateY(-50px);
}